<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <title>Informações do Veiculo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Informações do Veiculo</h1>
        <div class="card mt-5 mb-3">
            <div class="card-body ">
                <h5>Resultado do veiculo</h5>

                <div class="mt-5">

                    <p>Placa = <%= dado.placa %>
                    </p> <br />
                    <p>Marca = <%= dado.marca %>
                    </p> <br />
                    <p>Modelo = <%= dado.modelo %>
                    </p> <br />
                    <p>Cor = <%= dado.cor %>
                    </p> <br />
                    <p>Municipio = <%= dado.municipio %> - <%= dado.uf %>
                    </p> <br />
                    <p>Situação = <%= dado.situacao %>
                    </p> <br />
                    <p>Alerta de roubo ou furto = <%= dado.dataAtualizacaoRouboFurto %>
                    </p> <br />

                </div>


            </div>
        </div>
        <a href="/veiculo" class="mb-3 btn btn-danger">Procurar outro veiculo</a>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>